<div class="main-container">
  <div class="header">
    <h5>{{ header }}</h5>
    <h5>
      เลขที่ใบเสร็จ:{{ order.receipt.receipt_number || "ไม่มีเลขที่ใบเสร็จ" }}
    </h5>
    <h5>
      โทร:{{ "#" + order.receipt.phone_number || "ไม่มีหมายเลขโทรศัพท์" }}
    </h5>
    <h5>วันที่ขาย:{{ order.receipt.updated_at || "ไม่มีวันที่" }}</h5>
  </div>
  <div class="body">
    <table>
      <mat-divider></mat-divider>
      <div class="head-table">
        <tr>
          <th style="text-align: start">รายการ</th>
          <th>จำนวน</th>
          <th>ราคา</th>
        </tr>
      </div>
      <mat-divider></mat-divider>
      <div class="body-table">
        <tr *ngFor="let item of order.product_item">
          <td style="text-align: start; width: fit-content">{{ item.name }}</td>
          <td style="text-align: start">{{ item.order_amount }}</td>
          <td>{{ item.price }}</td>
        </tr>
      </div>
      <mat-divider></mat-divider>
      <div>
        <tr>
          รายการ :
          {{
            order.order_list
          }}

          จำนวน :
          {{
            order.order_amount
          }}
        </tr>
      </div>
      <mat-divider></mat-divider>
      <div class="row">
        <div class="column-L">
          <p>ราคารวม</p>
          <p>Vat 7%</p>
          <p>ส่วนลด</p>
          <p>รวมทั้งสิ้น</p>
          <p>เงินสด</p>
          <p>เงินทอน</p>
        </div>
        <div class="column-R">
          <p>{{ order.receipt.price_all || 0.0 }}</p>
          <p>{{ order.receipt.vat || 0.0 }}</p>
          <p>{{ order.receipt.discount || 0.0 }}</p>
          <p>{{ order.receipt.price_all || 0.0 }}</p>
          <p>{{ order.receipt.cash || 0.0 }}</p>
          <p>{{ order.receipt.change || 0.0 }}</p>
        </div>
      </div>
    </table>
  </div>

  <div class="footer">footer</div>
</div>
