<div class="container">
  <form [formGroup]="orderForm">
    <div class="box1">
      <p class="header">{{ header }}</p>
      <p style="margin-bottom: 0%;margin-left: 80%;">จำนวนบิลทั้งหมด:</p>
      <p style="margin-bottom: 0%;margin-left: 80%;">จำนวนบิลที่ยกเลิก:</p>
      <p style="margin-bottom: 0%;margin-left: 75%;">วันที่ขาย:-</p>


    </div>
    <mat-divider></mat-divider>
        <i style="margin-left: 1%;">รหัสสินค้า</i>
        <i >รายการสินค้า</i>
        <i >จำนวน</i>
        <i style="margin-right: 0%;">รวมทั้งสิ้น</i>
    <mat-divider style="margin-bottom: 3%;"></mat-divider>




  </form>
</div>
