body,
html {

  /* Border */
  .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  /* Font color */
  input.mat-input-element {
    color: white;
  }

}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  .body-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/image/bar-bg.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;

    .logo {
      width: 100%;
      height: 100%;
      background-image: url("../../assets/image/logo.png");
      background-position: center;
      background-repeat: no-repeat;
      filter: drop-shadow(0 5px 15px rgb(0, 0, 0));
      z-index: 1;
    }
  }

  .body {
    display: flex;
    width: fit-content;
    height: 95%;
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.001);
    right: 0;

    .body-login {
      width: 300px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      border-radius: 5px;
      background: linear-gradient(rgba(255, 255, 255, 0.274), rgba(255, 255, 255, 0.007));
      opacity: 1;

      mat-form-field {
        color: white;
        width: 100%;
        min-width: 300px;

        input {
          padding-left: 10px;
          font-size: 18pt;
          color: white;
        }

        mat-label {
          color: white;
        }
      }

      button {
        bottom: 0;
        margin-top: 10px;
        width: 100%;
        height: max-content;
        border-radius: 5px;
        color: white;
        font-size: 13pt;
        padding: 7px;
        border: none;
        cursor: pointer;
        transition: .3s;
        outline: none;
      }

      .login {
        background: rgb(0, 162, 255);
      }

      .register {
        background: rgb(0, 192, 96);
      }
    }
  }
}
