<div class="container">
  <div class="body-image">
    <div class="logo"></div>
  </div>
  <div class="body">
    <img src="../../assets/image/logo-black.png" />
    <div class="body-login">
      <p style="font-size: 18pt"></p>
      <p style="margin: 90px 0 20px 0; font-size: 20pt">ยินดีต้อนรับ!</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" style="border: white">
          <mat-label>ชื่อบัญชี</mat-label>
          <input
            matInput
            type="text"
            formControlName="username"
            placeholder="ชื่อบัญชี.."
          />
          <mat-error *ngIf="!loginForm.hasError('required')">
            กรุณาระบุชื่อ <strong>บัญชีผู้ใช้งาน</strong>
          </mat-error></mat-form-field
        >
        <mat-form-field appearance="outline">
          <mat-label>รหัสผ่าน</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="รหัสผ่าน.."
          /><mat-error *ngIf="!loginForm.hasError('required')">
            กรุณาระบุ <strong>รหัสผ่าน</strong>
          </mat-error>
        </mat-form-field>
        <div class="btn-group">
          <button mat-flat-button type="submit" class="login">
            เข้าสู่ระบบ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
