<div class="container">
  <form [formGroup]="productForm">
    <p class="header">{{ header }}</p>
    <div class="mainBox">
      <div class="box1">
        <mat-form-field appearance="outline">
          <mat-label>ชื่อสินค้า</mat-label>
          <input
            id="product_name"
            formControlName="product_name"
            matInput
            placeholder="ชื่อสินค้า.."
          />
          <mat-error *ngIf="productForm.get('product_name').errors?.required"
            >กรุณาระบุ <strong>ชื่อสินค้า</strong></mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>ประเภทสินค้า</mat-label>
          <mat-select id="type" formControlName="type_id">
            <mat-option *ngFor="let item of type" [value]="item.id">
              {{ item.type_name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.get('type_id').errors?.required"
            >กรุณาระบุ <strong>ประเภทสินค้า</strong></mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>ราคาสินค้า</mat-label>
          <input
            id="product_price"
            type="number"
            formControlName="product_price"
            matInput
            placeholder="ราคาสินค้า.."
          />
          <mat-error *ngIf="productForm.get('product_price').errors?.required"
            >กรุณาระบุ <strong>ราคาสินค้า</strong></mat-error
          >
        </mat-form-field>
      </div>
      <div class="box2">
        <label>
          <img [src]="urlImage || urlDefaultUser" />
          <input
            type="file"
            (change)="onSelectFile($event)"
            style="display: none"
        /></label>
      </div>
    </div>
    <div class="btn-group">
      <button id="confirm" type="submit" (click)="onSubmit()">ยืนยัน</button>
      <button id="cancle" (click)="close()">ยกเลิก</button>
    </div>
  </form>
</div>
