<div class="container">
  <form [formGroup]="tableForm">
    <div class="acc-box-1">
      <p class="header">{{ header }}</p>
      <mat-form-field appearance="outline">
        <mat-label>หมายเลขโต๊ะ</mat-label>
        <input
          id="table_number"
          formControlName="table_number"
          matInput
          placeholder="หมายเลขโต๊ะ.."
        />
        <mat-error *ngIf="tableForm.get('table_number').errors?.required"
          >กรุณาระบุ <strong>หมายเลขโต๊ะ</strong></mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>โซนที่นั่ง</mat-label>
        <mat-select id="zone_id" formControlName="zone_id">
          <mat-option *ngFor="let item of zone" [value]="item.id">{{
            item.name_zone
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="tableForm.get('zone_id').errors?.required"
          >กรุณาระบุ <strong>โซนที่นั่ง</strong></mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="tableAdd">
        <mat-label>สถานะโต๊ะ</mat-label>
        <mat-select id="status_table_id" formControlName="status_table_id">
          <mat-option *ngFor="let item of status_table" [value]="item.id">
            {{ item.table_status }}s
          </mat-option>
        </mat-select>
        <mat-error *ngIf="tableForm.get('status_table_id').errors?.required"
          >กรุณาระบุ <strong>สถานะโต๊ะ</strong></mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>จำนวนที่นั่ง</mat-label>
        <input
          id="seat_amount"
          type="number"
          formControlName="seat_amount"
          matInput
          placeholder="จำนวนที่นั่ง.."
          value="0"
        />
        <mat-error *ngIf="tableForm.get('seat_amount').errors?.required"
          >กรุณาระบุ <strong>จำนวนที่นั่ง</strong></mat-error
        >
        <mat-error *ngIf="tableForm.get('seat_amount').errors?.seatAmountError"
          >จำนวนที่นั่ง <strong>ไม่ถูกต้อง</strong></mat-error
        >
      </mat-form-field>
    </div>
    <div class="btn-group">
      <button id="confirm" type="submit" (click)="onSubmit()">ยืนยัน</button>
      <button id="cancle" (click)="close()">ยกเลิก</button>
    </div>
  </form>
</div>
