<div class="container">
  <div class="side-bar">
    <div class="menu">
      <p id="header">Hello Admin!</p>
      <mat-list role="list" dense>
        <p>Products</p>
        <div class="list-menu">
          <mat-list-item
            routerLink="product"
            [routerLinkActive]="['is-active']"
          >
            Product
          </mat-list-item>
          <mat-list-item
            routerLink="stock-product"
            [routerLinkActive]="['is-active']"
          >
            Stock product
          </mat-list-item>
          <mat-list-item
            routerLink="promotion"
            [routerLinkActive]="['is-active']"
          >
            Promotion
          </mat-list-item>
        </div>

        <p>Table</p>
        <div class="list-menu">
          <mat-list-item routerLink="page3" [routerLinkActive]="['is-active']">
            Zone
          </mat-list-item>
          <mat-list-item routerLink="page3" [routerLinkActive]="['is-active']">
            Reserve table
          </mat-list-item>
        </div>

        <p>Report</p>
        <div class="list-menu">
          <mat-list-item routerLink="page3" [routerLinkActive]="['is-active']">
            Report
          </mat-list-item>
        </div>
      </mat-list>
    </div>
  </div>
  <div class="box-main"><router-outlet></router-outlet></div>
</div>
