<div class="container">
  <form [formGroup]="stocklistForm">
    <div class="acc-box-1">
      <div style="position: relative">
        <p class="header">{{ header }}</p>

        <button
          style="position: absolute; right: 0; top: 0"
          id="add"
          type="add"
          (click)="addForm()"
        >
          เพิ่ม
        </button>
      </div>

      <ng-container
        formArrayName="stock_list"
        *ngFor="
          let item of stocklistForm.get('stock_list')['controls'];
          let i = index;
          let isFirst = first
        "
      >
        <div class="custom-form" [formGroupName]="i">
          <mat-form-field appearance="outline">
            <mat-label>สินค้า</mat-label>
            <input
              matInput
              type="text"
              [matAutocomplete]="auto"
              formControlName="product_id"
            />
            <mat-error *ngIf="item.get('product_id').hasError('required')">
              กรุณากรอกเลือกสินค้า
            </mat-error>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of product"
                [value]="option.id"
              >
                {{ option.product_name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>จำนวนสินค้า</mat-label>
            <input
              formControlName="list_amount"
              matInput
              type="number"
              placeholder="จำนวนสินค้า.."
            />
            <mat-error *ngIf="item.get('list_amount').hasError('required')">
              กรุณากรอกจำนวนสินค้า
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>ราคาสินค้า</mat-label>
            <input
              formControlName="price"
              matInput
              placeholder="ราคาสินค้า.."
              type="number"
            />
            <mat-error *ngIf="item.get('price').hasError('required')">
              กรุณากรอกราคาสินค้า
            </mat-error>
          </mat-form-field>
          <button
            class="form-btn"
            *ngIf="!isFirst"
            type="remove"
            (click)="removeForm(i)"
          >
            ลบ
          </button>
        </div>
      </ng-container>

      <div class="btn-group">
        <button id="confirm" type="submit" (click)="onSubmit()">ยืนยัน</button>
        <button id="cancle" (click)="close()">ยกเลิก</button>
      </div>
    </div>
  </form>
</div>
