<div class="container">
  <form [formGroup]="accountAddForm">
    <div class="acc-box-1">
      <p class="header">{{ header }}</p>
      <div>
        <mat-form-field appearance="outline" style="margin-right: 15px">
          <mat-label>ชื่อจริง</mat-label>
          <input
            id="firstname"
            formControlName="firstname"
            matInput
            placeholder="ชื่อจริง.."
          />
          <mat-error *ngIf="accountAddForm.get('firstname').errors?.required"
            >กรุณาระบุ <strong>ชื่อจริง</strong></mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>นามสกุล</mat-label>
          <input
            id="lastname"
            formControlName="lastname"
            matInput
            placeholder="นามสกุล.."
          />
          <mat-error *ngIf="accountAddForm.get('lastname').errors?.required"
            >กรุณาระบุ <strong>นามสกุล</strong></mat-error
          >
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>เบอร์โทรศัพท์</mat-label>
        <input
          matInput
          type="tel"
          id="phoneNumber"
          formControlName="phone_number"
          placeholder="เบอร์โทรศัพท์.."
          maxlength="10"
          minlength="10"
          #tel
        />

        <mat-hint align="end">{{ tel.value?.length || 0 }}/10</mat-hint>
        <mat-error *ngIf="accountAddForm.get('phone_number').errors?.required"
          >กรุณาระบุ <strong>เบอร์โทรศัพท์</strong></mat-error
        >
        <mat-error *ngIf="accountAddForm.get('phone_number').errors?.pattern"
          >กรุณาระบุ <strong>รูปแบบเบอร์โทรศัพท์</strong> ให้ถูกต้อง</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>สถานะ</mat-label>
        <mat-select id="staff_id" formControlName="staff_id">
          <mat-option *ngFor="let item of data.staff" [value]="item.id">{{
            item.status
          }}</mat-option>
        </mat-select>
        <mat-error *ngIf="accountAddForm.get('staff_id').errors?.required"
          >กรุณาระบุ <strong>สถานะ</strong></mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          id="username"
          formControlName="username"
          placeholder="Username.."
          required
        />
        <mat-error *ngIf="accountAddForm.get('username').errors?.required"
          >กรุณาระบุ <strong>ชื่อบัญชีผู้ใช้งาน</strong></mat-error
        >
        <!-- <div *ngIf="errors?.username"> -->
        <mat-error *ngIf="accountAddForm.get('username').errors?.userAlready">
          ชื่อบัญชีผู้ใช้งาน <strong>มีอยู่แล้ว</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <div *ngIf="!check">
          <p type="cheked" class="btn-changePass" (click)="editPass()">
            Chang password
          </p>
        </div>
      </div>

      <mat-form-field appearance="outline" *ngIf="passwordView">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          type="password"
          formControlName="password"
          placeholder="Password.."
          required
        />
        <mat-error *ngIf="accountAddForm.get('password').errors?.required"
          >กรุณาระบุ <strong>รหัสผ่าน</strong></mat-error
        >
        <mat-error *ngIf="accountAddForm.get('password').errors?.minlength"
          >กรุณาระบุรหัสผ่าน <strong>อย่างน้อย 8 ตัว </strong></mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="passwordView">
        <mat-label>Password Confirm</mat-label>
        <input
          matInput
          id="passwordConfirmation"
          type="password"
          formControlName="password_confirmation"
          required
          placeholder="Password Confirmation.."
        />
        <mat-error
          *ngIf="accountAddForm.get('password_confirmation').errors?.required"
          >กรุณา <strong>ยืนยันรหัสผ่าน</strong></mat-error
        >
        <mat-error
          *ngIf="accountAddForm.get('password_confirmation').errors?.mustMatch"
        >
          รหัสผ่าน <strong>ไม่ตรงกัน</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="btn-group">
      <button id="confirm" type="submit" (click)="onSubmit()">ยืนยัน</button>
      <button id="cancle" (click)="close()">ยกเลิก</button>
    </div>
  </form>
</div>
