<div class="container">
  <form [formGroup]="accountAddForm">
    <div class="acc-box-1">
      <p>เพิ่มบัญชีผู้ใช้งาน</p>
      <div>
        <mat-form-field appearance="outline" style="margin-right: 15px">
          <mat-label>ชื่อจริง</mat-label>
          <input
            id="firstname"
            formControlName="firstname"
            matInput
            placeholder="ชื่อจริง.."
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>นามสกุล</mat-label>
          <input
            id="lastname"
            formControlName="lastname"
            matInput
            placeholder="นามสกุล.."
          />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>เบอร์โทรศัพท์</mat-label>
        <input
          matInput
          type="tel"
          id="phoneNumber"
          formControlName="phone_number"
          placeholder="เบอร์โทรศัพท์.."
        /> </mat-form-field
      >?

      <mat-form-field appearance="outline">
        <mat-label>สถานะ</mat-label>
        <mat-select
          id="staff_id"
          formControlName="staff_id"
          name="food"
          value="{{ data?.user?.status }}"
        >
          <mat-option
            *ngFor="let item of data.staff; let i = index"
            value="{{ i + 1 }}"
            >{{ item.status }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <p>You selected: {{ selected }}</p>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input
          matInput
          id="username"
          formControlName="username"
          placeholder="Username.."
        />
      </mat-form-field>
      <div>
        <div *ngIf="!check">
          <p type="cheked" class="btn-changePass" (click)="editPass()">
            Chang password
          </p>
        </div>
      </div>

      <mat-form-field appearance="outline" *ngIf="passwordView">
        <mat-label>Password</mat-label>
        <input
          matInput
          id="password"
          type="password"
          formControlName="password"
          placeholder="Password.."
        />
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="passwordView">
        <mat-label>Password Confirm</mat-label>
        <input
          matInput
          id="passwordConfirmation"
          type="password"
          formControlName="password_confirmation"
          placeholder="Password Confirmation.."
        />
      </mat-form-field>
    </div>
    <div style="text-align: center">
      <button id="confirm" type="submit" (click)="onSubmit()">ยืนยัน</button>
      <button id="cancle" (click)="close()">ยกเลิก</button>
    </div>
  </form>
  <div class="acc-box-2"></div>
</div>
