<div class="container">
  <p>ออเดอร์</p>
  <div class="header">
    <div class="text-container">
      ค้นหารายการ<input
        type="text"
        placeholder="ค้นหา..."
        [formControl]="search"
      /><span class="material-icons"> search </span>
    </div>

  </div>
 <h5>ออเดอร์ทั้งหมด : {{dataSource.data.length}} ออเดอร์</h5>
 <h5>สำเร็จ : {{j}} ออเดอร์</h5>
  <h5>ยกเลิก : {{i}} ออเดอร์</h5>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>รหัสออเดอร์</th>
      <td mat-cell *matCellDef="let element" >
        {{ element.id }}
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>โต๊ะ</th>
      <td mat-cell *matCellDef="let element" >
        {{ element.table }}
      </td>
    </ng-container>



    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>สถานะออเดอร์</th>
      <td mat-cell *matCellDef="let element">
        {{ element.status }}
      </td>
    </ng-container>
     <ng-container matColumnDef="list">
      <th mat-header-cell *matHeaderCellDef>เลขที่ออเดอร์</th>
      <td  mat-cell *matCellDef="let element" >
        {{ element.order_number }}
      </td>
    </ng-container>
     <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef>จำนวนรายการ</th>
      <td  mat-cell *matCellDef="let element" >
        {{ element.order_amount }}
      </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <span class="material-icons edit" (click)="editData(element)">
          mode_edit_outline
        </span>
        <span class="material-icons delete" (click)="deleteData(element)">
          delete_forever
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
