<div class="flex-container">
   <div class="chart-donut">
      <input type="date" onfocus="(this.type='date')" placeholder="Start Date" id="start"><input type="date" onfocus="(this.type='date')" placeholder="End Date" id="end">
    <div style="width: 50%; ">
      <canvas style="width: 100%" id="yearBar"></canvas>

    </div>
  </div>
  <!-- <div class="chart" style="width:100%"> -->

            <!-- <canvas id="yearBar" style="width: 100%"></canvas> -->
<!-- </div> -->
  <!-- <div class="chart-donut">
    <div  style="width: 50%">
      <canvas style="width: 100%" id="dayBar"></canvas>
    </div>
  </div> -->
</div>

