@import "~@angular/material/theming";
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap");

@include mat-core();
$POS-primary: mat-palette($mat-indigo);
$POS-accent: mat-palette($mat-pink, A200, A100, A400);
$POS-warn: mat-palette($mat-red);
$POS-theme: mat-light-theme(
  (
    color: (
      primary: $POS-primary,
      accent: $POS-accent,
      warn: $POS-warn,
    ),
  )
);

@include angular-material-theme($POS-theme);

html * {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(236, 236, 236);
  position: relative;

  ::-webkit-scrollbar {
    background-color: white;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(0, 162, 255);
    border: 1px solid cyan;
    border-radius: 5px;
  }

  // /* Border */
  // .mat-form-field-appearance-outline .mat-form-field-outline {
  //   color: white;
  // }

  // /* Font color */
  // input.mat-input-element {
  //   color: white;
  // }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .mat-form-field {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  .form-btn {
    transform: translateY(-8px);

    button {
      &:hover {
        background-color: #00eb9c !important;
      }
    }
  }
}
