@import '~@angular/material/theming';
@include mat-core();
$POS-primary: mat-palette($mat-indigo);
$POS-accent: mat-palette($mat-pink, A200, A100, A400);
$POS-warn: mat-palette($mat-red);
$POS-theme: mat-light-theme((color: (primary: $POS-primary,
      accent: $POS-accent,
      warn: $POS-warn,
    )));

@include angular-material-theme($POS-theme);



html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #131313;
  position: relative;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Designil Font',
  //   'Helvetica',
  //   sans-serif;

  ::-webkit-scrollbar {
    background-color: white;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(0, 162, 255);
    border: 1px solid cyan;
    border-radius: 5px;
  }

  // /* Border */
  // .mat-form-field-appearance-outline .mat-form-field-outline {
  //   color: white;
  // }

  // /* Font color */
  // input.mat-input-element {
  //   color: white;
  // }

}
