.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);

  .loader-container {
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, 0.205);
    position: fixed;
    cursor: wait;
    z-index: 99;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    min-width: 250px;
    position: relative;
    padding: 20px 20px 0 20px;
    background: rgb(245, 245, 245);
    overflow-y: auto;
    -ms-overflow-style: none;
    z-index: 1;

    .sideBox {
      position: sticky;
      display: inherit;
      flex-direction: column;
      // top: 20px;
      border-radius: 10px;
      width: 100%;
      height: fit-content;
      flex: 1;
      z-index: 1;

      .img-header {
        display: block;
        width: fit-content;
        height: auto;
        width: 100%;
        background: rgb(230, 230, 230);
        border-radius: 5px;
        padding: 15px;

        .row:after {
          content: "";
          display: table;
          clear: both;
          width: fit-content;
        }

        .column-L {
          float: left;
          height: auto;
          text-align: left;
          margin: 0 5px 0 0;
        }

        .column-R {
          height: auto;
          text-align: left;
          width: fit-content;

        }
      }

      #header {
        font-size: 20pt;
        font-weight: 600;
      }

      .logout {
        background: rgb(255, 98, 98);
        border-radius: 15px;
        padding: 1px 5px 1px 5px;
        margin: 0 0 0 5px;
        color: white;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background: rgba(255, 98, 98, 0.582);
        }

      }




      mat-list {
        mat-list-item {
          transition: .2s;
          cursor: pointer;
          height: 30px;
          font-size: 11pt;

          &:hover {
            background: rgb(228, 228, 228);
          }
        }

        .is-active {
          background: rgb(201, 201, 201);
        }

        p {
          margin-top: 10px;
          margin-bottom: 5px;
          width: inherit;
          padding: 10px;
          border: none;
          border-radius: 5px;
          background: rgb(164, 222, 255);
          font-size: 14pt;
          font-weight: 500;
          color: rgb(0, 62, 97);
        }
      }
    }

    .sideBox2 {
      flex: 1;
      position: relative;
      padding-bottom: 20px;
      z-index: 1;

      .logout {
        padding: 7px 10px 4px 10px;
        position: absolute;
        bottom: 20px;
        transition: .5s;
        cursor: pointer;
        text-align: center;
        font-size: 10pt;
        border: none;
        border-radius: 5px;
        color: white;
        background: rgb(255, 92, 92);

        &:hover {
          opacity: .7;
        }
      }
    }
  }



  .content {
    position: relative;
    margin: 20px 5px 20px 20px;
    min-width: 600px;
    background: inherit;
    height: auto;
    overflow: auto;

    flex: 1;

    .container {
      width: 100%;
      height: auto;
    }

  }
}
