<div class="container">
  <div style="position: relative; padding-bottom: 20px">
    <p style="color: black; font-size: 30pt">คลังสินค้า</p>
  </div>
  <div class="search">
    <div class="text-container">
      ค้นหารายการ<input type="text" placeholder="ค้นหาสินค้า..." /><span
        class="material-icons"
      >
        search
      </span>
    </div>
    <div>
      <button mat-raised-button (click)="openDialog()">เพิ่มสินค้า</button>
    </div>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="productID">
        <th mat-header-cell *matHeaderCellDef>รหัสสินค้า</th>
        <td mat-cell *matCellDef="let element">
          {{ element.productID }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>ชื่อสินค้า</th>
        <td
          style="text-align: left; padding-left: 80px"
          mat-cell
          *matCellDef="let element"
        >
          {{ element.name }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef>ราคาสินค้า</th>
        <td mat-cell *matCellDef="let element">{{ element.unitPrice }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>จำนวนสินค้า</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <span class="material-icons edit"> mode_edit_outline </span>
          <span class="material-icons delete"> delete_forever </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
